<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/latest"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/nightly"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly"/>
