<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated simplemodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.mdsd.profiles.examples.simplemodel.presentation.simplemodelModelWizardID"
            name="%_UI_simplemodelModelWizard_label"
            class="edu.kit.ipd.sdq.mdsd.profiles.examples.simplemodel.presentation.simplemodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/simplemodelModelFile.gif">
         <description>%_UI_simplemodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated simplemodel -->
      <editor
            id="edu.kit.ipd.sdq.mdsd.profiles.examples.simplemodel.presentation.simplemodelEditorID"
            name="%_UI_simplemodelEditor_label"
            icon="icons/full/obj16/simplemodelModelFile.gif"
            extensions="simplemodel"
            class="edu.kit.ipd.sdq.mdsd.profiles.examples.simplemodel.presentation.simplemodelEditor"
            contributorClass="edu.kit.ipd.sdq.mdsd.profiles.examples.simplemodel.presentation.simplemodelActionBarContributor">
      </editor>
   </extension>

</plugin>
