<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.modelversioning.emfprofile.profile">
      <profile
            profile_resource="ejb.emfprofile_diagram">
      </profile>
      <profile
            profile_resource="ejb_copy.emfprofile_diagram">
      </profile>
   </extension>

</plugin>
