<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mdsdprofiles -->
      <package
            uri="http://palladiosimulator.org/MDSDProfiles/1.0"
            class="org.palladiosimulator.mdsdprofiles.MdsdprofilesPackage"
            genModel="model/mdsdprofiles.genmodel"/>
   </extension>

</plugin>
