<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command defaultHandler="edu.kit.ipd.sdq.mdsd.profiles.ui.handlers.ApplyStereotypeHandler" id="edu.kit.ipd.sdq.mdsd.profiles.ui.handlers.applyStereotypeCommand" name="Apply Stereotype">
         <commandParameter
            id="edu.kit.ipd.sdq.mdsd.profiles.ui.handlers.applyStereotypeCommand.parameter.stereotype"
            name="Applicable Stereotype"
            optional="false">
         </commandParameter>
         <commandParameter
            id="edu.kit.ipd.sdq.mdsd.profiles.ui.handlers.applyStereotypeCommand.parameter.profile"
            name="Profile Of Applicable Stereotype"
            optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="edu.kit.ipd.sdq.mdsd.profiles.ui.handlers.UnapplyStereotypeHandler"
            id="edu.kit.ipd.sdq.mdsd.profiles.ui.handlers.unapplyStereotypeCommand"
            name="Unapply Stereotype">
         <commandParameter
               id="edu.kit.ipd.sdq.mdsd.profiles.ui.handlers.unapplyStereotypeCommand.parameter.stereotype"
               name="Applied Stereotype"
               optional="false">
         </commandParameter>
         <commandParameter
               id="edu.kit.ipd.sdq.mdsd.profiles.ui.handlers.unapplyStereotypeCommand.parameter.profile"
               name="Profile Of Applied Stereotype"
               optional="false">
         </commandParameter>
      </command>
   </extension>

   <extension
         id="edu.kit.ipd.sdq.mdsd.profiles.ui.menu.profilepopup"
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="edu.kit.ipd.sdq.mdsd.profiles.ui.beforeseparator"
               visible="false">
         </separator>
         <menu
            label="Apply Stereotype ..."
            id="edu.kit.ipd.sdq.mdsd.profiles.ui.menu.applystereotype">
            <visibleWhen
               checkEnabled="false">
               <with
                  variable="activeMenuSelection">
                  <iterate
                     ifEmpty="false"
                     operator="or">
                     <adapt
                        type="org.palladiosimulator.mdsdprofiles.StereotypableElement">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <dynamic
               class="edu.kit.ipd.sdq.mdsd.profiles.ui.menu.ApplicableStereotypesSubmenu"
               id="edu.kit.ipd.sdq.mdsd.profiles.ui.menu.builder.dynamicmenu">
            </dynamic>
         </menu>
         <menu
               id="edu.kit.ipd.sdq.mdsd.profiles.ui.menu.profilelistmenu"
               label="profilelistmenu.label"
               mnemonic="profilelistmenu.mnemonic">
            <dynamic
                  class="edu.kit.ipd.sdq.mdsd.profiles.ui.menu.ProfileListMenu"
                  id="edu.kit.ipd.sdq.mdsd.profiles.ui.menu.dynamicprofilelistmenu">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <equals
                     value="never">
               </equals>
            </visibleWhen>
         </menu>
         <separator
               name="edu.kit.ipd.sdq.mdsd.profiles.ui.afterseparator"
               visible="false">
         </separator>
      </menuContribution>
   </extension>
   
   <extension-point id="edu.kit.ipd.sdq.mdsd.profiles.ui.customcommandlabel" name="Custom Command Label" schema="schema/edu.kit.ipd.sdq.mdsd.profiles.ui.customcommandlabel.exsd"/>
   
</plugin>
