<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.kit.ipd.sdq.mdsd.profiles.nature.profileprojectnature"
         name="Profile Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="edu.kit.ipd.sdq.mdsd.profiles.nature.ProfileProjectNature">
         </run>
      </runtime>
      <builder
            id="edu.kit.ipd.sdq.mdsd.profiles.builder.profileprojectbuilder">
      </builder>
   </extension>
   <extension
         id="edu.kit.ipd.sdq.mdsd.profiles.builder.profileprojectbuilder"
         name="Profile Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
            <run class="edu.kit.ipd.sdq.mdsd.profiles.builder.ProfileProjectBuilder"/>
      </builder>
   </extension>
</plugin>
